<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weigh.verification.dao.RbacUserDao">
    <select id="getInfoById" resultType="com.weigh.verification.model.RbacUserModel">
        select *
        from `rbac_user`
        where `id` = #{id}
          and is_delete = 0
        limit 1;
    </select>

    <select id="getInfoByEmail" resultType="com.weigh.verification.model.RbacUserModel">
        select *
        from `rbac_user`
        where `email` = #{email}
          and is_delete = 0
        limit 1;
    </select>

    <select id="getInfoByMobile" resultType="com.weigh.verification.model.RbacUserModel">
        select *
        from `rbac_user`
        where `mobile` = #{mobile}
          and is_delete = 0
        limit 1;
    </select>

    <select id="getList" resultType="com.weigh.verification.model.RbacUserModel">
        select a1.`id`,
               a1.`dept_id`,
               a2.`name` as dept_name,
               a1.`role_id`,
               a3.`name` as role_name,
               a1.`email`,
               a1.`real_name`,
               a1.`mobile`,
               a1.`sex`,
               a1.`age`,
               a1.`login_num`,
               a1.`state`,
               a1.`create_time`,
               a1.`update_time`
        from `rbac_user` a1
                     left join `rbac_dept` a2 on a1.dept_id = a2.id
                     left join rbac_role a3 on a1.role_id = a3.id
                where a1.is_delete = 0
                  and a1.email != 'administrator'
        <if test="email != null and email != ''">
            AND a1.`email` like '%' #{email} '%'
        </if>
        <if test="realName != null and realName != ''">
            AND a1.`real_name` like '%' #{realName} '%'
        </if>
        <if test="mobile != null and mobile != ''">
            AND a1.`mobile` like '%' #{mobile} '%'
        </if>
        <if test="state != null">
            AND a1.`state` = #{state}
        </if>
        order by a1.id desc
    </select>

    <insert id="add">
        INSERT INTO `rbac_user` (`dept_id`, `role_id`, `password`, `real_name`, `email`, `mobile`, `sex`, `age`,
                                 `create_time`, `update_time`)
        VALUES (#{deptId}, #{roleId}, #{password}, #{realName}, #{email}, #{mobile}, #{sex}, #{age}, #{createTime},
                #{updateTime})
    </insert>

    <update id="edit">
        update `rbac_user`
        set `dept_id`    = #{deptId},
            `role_id`    = #{roleId},
            `real_name`  = #{realName},
            `email`      = #{email},
            `mobile`     = #{mobile},
            `sex`        = #{sex},
            `age`        = #{age},
            `state`      = #{state},
            `update_time`=#{updateTime}
        where id = #{id}
    </update>

    <update id="delete">
        update `rbac_user`
        set `is_delete`  = 1,
            `update_time`=#{updateTime}
        where id = #{id}
    </update>

    <update id="modifyState">
        update `rbac_user`
        set `state`      = #{state},
            `update_time`=#{updateTime}
        where id = #{id}
    </update>

    <update id="modifyPassword">
        update `rbac_user`
        set `password`   = #{password},
            `update_time`=#{updateTime}
        where id = #{id}
    </update>

    <update id="incLoginNum">
        update `rbac_user`
        set `login_num`  = `login_num` + 1,
            `update_time`=#{updateTime}
        where id = #{id}
    </update>
</mapper>