<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weigh.verification.dao.rbac.ResourceDao">
    <insert id="add">
        INSERT INTO `rbac_resource` (`parent_id`, `name`, `type`, `icon`, `key`, `path`, `remarks`, `state`, `sort`,
                                     `create_time`, `update_time`)
        VALUES (#{parentId}, #{name}, #{type}, #{icon}, #{key}, #{path}, #{remarks}, #{state}, #{path}, #{createTime},
                #{updateTime});
    </insert>

    <select id="getList" resultType="com.weigh.verification.model.rbac.ResourceModel">
        select *
        from `rbac_resource`
                where is_delete = 0
        <if test="state != null">
            AND `state` = #{state}
        </if>
        order by id desc
    </select>

    <update id="edit">
        update `rbac_resource`
        set `parent_id`  = #{parentId},
            `name`       = #{name},
            `type`       = #{type},
            `icon`       = #{icon},
            `key`        = #{key},
            `path`       = #{path},
            `remarks`    = #{remarks},
            `state`      = #{state},
            `sort`       = #{sort},
            `update_time`=#{updateTime}
        where id = #{id}
    </update>

    <update id="modifyState">
        update `rbac_resource`
        set `state`      = #{state},
            `update_time`=#{updateTime}
        where id = #{id}
    </update>

    <update id="delete">
        update `rbac_resource`
        set `is_delete`  = 1,
            `update_time`=#{updateTime}
        where id = #{id}
    </update>
</mapper>